<!doctype html>
<html>

  <head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"/>
    <title> Introduction </title>   
  </head>



    <br><div style="border: 0px; margin-left: 10px;">
      <p>if the plots don't load, go to google trends and reload this page two times:
      <button class="button-13" type="button" style="max-width: 20%; height: auto; margin-top: 10px;">
        <a href= "https://trends.google.com/trends/explore?date=now%207-d&q=%2Fm%2F030q7,trial">trends</a> </button></p>
    </div><br>
      
    <div class = "responses">
      <div class="response" action="/introduction" method="POST">
        <h4>what is {{topic}} ({{domain}})?</h4>
        <p> {{what}} </p> 
      </div> 

      <div class="response" action="/introduction" method="POST">
        <h4>what topics are related to {{topic}}?</h4>
        <p> {{what_topics}} </p> 
      </div>    

      <div class="response" action="/introduction" method="POST">
        <h4>what are the latest development of {{topic}}?</h4>
        <p> {{latest}} </p> 
      </div>   <br>
    </div>
   
    
  </body>
</html>